<style>
    a{
        padding: 2px 10px;
    }
    a:hover{
        cursor: pointer;
    }
</style>
<div class="table-operation">
	<h3>城市管理</h3>
	<div style="height:30px;">
    <div class='pagination'>
      <uib-pagination style="margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
      <div style="float: right;position: relative;top: -20px;">
        跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
        <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">确定</button>
      </div>
    </div>
    <button style="float: right;width: 5%;" ng-click="search()" class="btn btn-default">搜索</button>
    <input style="width: 13%;float: right;margin-left: 5px;margin-right: 5px;" type="text" ng-model="q" class="form-control" id="hos_q" placeholder="名称 、拼音">
    <select style="width: 6%;float: right;" ng-change="search()" ng-model="city_id" class="form-control">
      <option value="">全部</option>
      <option ng-repeat="city in cities" value={{city.id}}>{{city.name}}</option>
    </select>
	</div>

<table class="table table-hover table-bordered" style="margin-top: 20px;">
    <tr style="background-color:#f6f6f6;">
        <td>城市ID</td>
        <td>城市名称</td>
        <td>是否开展业务</td>
        <td>医生注册后自动转入公海的天数</td>
        <td>城市发展系数</td>
        <td>成熟度</td>
    </tr>
    <tr ng-repeat="l in cities">
        <td ng-bind="l.id"></td>
        <td ng-bind="l.name" style="color:#337ab7;"></td>
        <td>
            <a id="aaa" ng-style="l.state?{color:'green'}:{}"  ng-bind="l.state?'是':'否'" ng-click="select_click('state', l.state, l.id, l)"></a>
        </td>
        <td>
            <a uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="l.go_public_sea_day || '点击设置'" ng-click="select_click('go_public_sea_day', l.go_public_sea_day, l.id, l)"></a>
        </td>
        <td>
            <a uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="l.develop_coefficient" ng-click="select_click('develop_coefficient', l.develop_coefficient, l.id, l)"></a>
        </td>
        <td>
            <a style="color: green;" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="l.maturity_zh" ng-click="select_click('maturity', l.maturity_zh, l.id, l)"></a>
        </td>
    </tr>
</table>
<div class='pagination'>
    <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
    <div style="float: right;position: relative;top: -20px;">
        跳转到第<input style="width: 40px;" ng-model="current_page" type="text">页
        <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">确定</button>
    </div>
</div>

<script type="text/ng-template" id="myPopSelectTemplate.html">
    <div class="form-group">
        <select class="form-control" ng-model="placement.selected" ng-change="select_change()" ng-options="o as o for o in placement.options"></select>
    </div>
</script>

<script type="text/ng-template" id="myPopInputTemplate.html">
    <div class="form-group form-inline">
        <input type="number" ng-model="input_select.value" class="form-control">
        <button type="button" class="btn btn-success" ng-click="input_click()">确定</button>
    </div>
</script>
