<div ui-view></div>

<script src="scripts/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/ui-bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/ui-bootstrap-tpls.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/angular-confirm.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/jedate/jedate.js" type="text/javascript" charset="utf-8"></script>



<script src="scripts/filters.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/routes.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/directives.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/services.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/controllers.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>

<link rel='stylesheet' href='styles/lib/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='scripts/lib/loading-bar.min.js'></script>
