<style type="text/css">
  .table_sense td {
    height:70px;
  }
  .head_tr td{
    font-weight: bold;
  }
  .search-operation{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .order_statistic{
    float: right;
    color: rgb(204,204,204);
  }
  .order_statistic span{
    padding-left:15px;
  }
  .high_search{
    margin-top: 90px;
    position: relative;
    bottom: 60px;
  }
  .check_boxs{
    position: relative;
    top: 75px;
    left: -825px;
    font-weight:bold;    
  }
</style>
<div class="search-operation">
    <input style="width: 15%;float: left;margin-right: 5px;" type="text" ng-model="q" class="form-control" id="hos_q" placeholder="订单号/患者姓名/医生姓名">
    <select style="width: 15%;float: left;" ng-change="getOrderList()" ng-model="city_id" class="form-control">
      <option value="">选择城市</option>
      <option ng-repeat="city in cities" value={{city.id}}>{{city.name}}</option>
    </select>
    
    <button style="float: left;width: 3%;height: 34px;margin-left:5px;font-size:20px;" ng-click="search()" class="btn btn-default"><i style="position:relative;left:-2px;top:-0.5px;" class="glyphicon glyphicon-search"></i></button>

    <button style="font-size:14px;position:relative;top:10px;left:10px;text-decoration:none;outline:none;" type="button" class="btn btn-link btn-xs" ng-click="show_high_search()">高级检索</button>
    <div class="order_statistic">
        <span>订单总计: {{order_statistic.order_count}}</span>
        <span>待处理: {{order_statistic.order_waiting}}</span>
        <span>处理中: {{order_statistic.order_processing}}</span>
        <span>待定: {{order_statistic.order_pending}}</span>
        <span>未付款: {{order_statistic.order_unpaid}}</span>
    </div>
</div>

<div class="high_search" ng-show="check_high_search()">
    <input style="width: 15%;float: left;margin-right: 5px;" type="text" ng-model="agent_q" class="form-control" placeholder="所属销售">
    <input style="width: 15%;float: left;margin-right: 5px;" type="text" ng-model="doctor_q" class="form-control" placeholder="下单医生">
    <div style="float:left;margin-left:5px;margin-top:6px;margin-right:5px;">下单时间:</div>
    <input id="make_start" ng-model='make_time_start' style="width: 15%;float: left;margin-right: 5px;" placeholder="点击选择时间" class="form-control" type="text" readonly>
    <div style="float:left;margin-right:5px;font-size:20px;margin-top:5px;">~</div>
    <input id="make_end" ng-model='make_time_end' style="width: 15%;float: left;margin-right: 5px;" placeholder="点击选择时间" class="form-control" type="text" readonly>
    <input style="width: 15%;float: left;margin-right: 5px;" type="text" ng-model="assistant_q" class="form-control" placeholder="接单员">
    <input style="width: 15%;float: left;margin-right: 5px;" type="text" ng-model="body_mode_q" class="form-control" placeholder="订单部位">
    <input style="width: 15%;float: left;margin-right: 5px;margin-top:20px;" type="text" ng-model="hospital_q" class="form-control" placeholder="检查医院">
    <div style="float:left;margin-left:5px;margin-right:5px;margin-top:26px;">完成时间:</div>
    <input id="finish_start" ng-model='finish_time_start' style="width: 15%;float: left;margin-right: 5px;margin-top:20px;" placeholder="点击选择时间" class="form-control" type="text" readonly>
    <div style="float:left;margin-right:5px;font-size:20px;margin-top:25px;">~</div>
    <input id="finish_end" ng-model='finish_time_end' style="width: 15%;float: left;margin-right: 5px;margin-top:20px;" placeholder="点击选择时间" class="form-control" type="text" readonly>
    <select style="width: 15%;float: left;margin-top:20px;" ng-change="getOrderList()" ng-model="project_id" class="form-control">
      <option value="">选择类别</option>
      <option ng-repeat="project in projects" value={{project.id}}>{{project.name}}</option>
    </select>
    <p style="position:absolute;top:112px;left:5px;">订单状态:</p>
    <div class="check_boxs">
        <div ng-repeat="state in states" style="float:left;margin-left:3px;">
          <input type="checkbox" class='show_box_check' value="{{state.id}}" ng-model="state.isChecked"/>
          <span style="position:relative;top:3px;">{{state.name}}</span>
        </div>
    </div>
    <button style="margin-left:5px;margin-top:3px;outline:none;" type="button" class="btn btn-warning btn-default" ng-click="clear_search()">清空搜索</button>
</div>



<table class="table table-hover table-bordered table_sense" style="margin-top: 20px;">
    <tr style="text-align: center" class="head_tr">
        <td>城市</td>
        <td>订单编号</td>
        <td>下单医生</td>
        <td>代理</td>
        <td>下单时间</td>
        <td>患者</td>
        <td>患者电话</td>
        <td>检查医院</td>
        <td>检查类别</td>
        <td>订单状态</td>
        <td>接单员</td>
        <td>预约时间</td>
        <td>评价</td>
    </tr>
    <tr ng-repeat="o in orders" style="text-align: center;">
        <td>{{o.city_name}}</td>
        <td><a ng-click='order_detail(o.id)'>{{o.order_code}}</a></td>
        <td><a href="#">{{o.doctor_name}}</a></td>
        <td>{{o.agent_name}}</td>
        <td>{{o.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{o.patient_name}}</td>
        <td>{{o.patient_phone}}</td>
        <td>{{o.hospital_name}}</td>
        <td>{{o.project_name}}</td>
        <td>{{o.state_zh}}</td>
        <td>{{o.assistant_name}}</td>
        <td>{{o.make_at | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{o.order_comment.comment}}</td>
    </tr>
</table>
<div class='pagination'>
    <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="getOrderList()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
    <div style="float: right;position: relative;top: -20px;">
    跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
    <button type="button" class="btn btn-default" ng-click="setPage()">确定</button>
  </div>
</div>

<script type="text/ng-template" id="order_detail.html">
  <div class="modal-header" align="center">
      <div class="modal-title" style="font-size:18px;font-weight:bold;">订单详情</div>
      <div class="header_info">
        <span>订单编号:&nbsp;&nbsp; {{order_detail.order_code}}</span>
        <span>咨询费:&nbsp;&nbsp; {{order_detail.price}}</span>
        <span>处理客服:&nbsp;&nbsp; {{order_detail.assistant_name}}</span>
        <span>代理:&nbsp;&nbsp; {{order_detail.agent_name}}</span>
      </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid" style="width:800px;">
      <div class="col-xs-6">
        <div class="row">
          <h4 style="margin-left:15px;font-weight: bold;font-size:18px;">医生信息</h4>
        </div>
        <div class="row">
          <div class="col-xs-6">下单医生:&nbsp;&nbsp;{{order_detail.doctor_name}}</div>
          <div class="col-xs-6">电话:&nbsp;&nbsp;{{order_detail.doctor_phone}}</div>
          <div class="row bottom_line">
            <div class="col-xs-12" style="margin-left:13px;margin-top:15px;margin-bottom:15px">所在医院:&nbsp;&nbsp;{{order_detail.doctor_hospital}}</div>
          </div>
        </div>
        <div class="row">
          <h4 style="margin-left:15px;font-weight: bold;font-size:18px;">患者信息</h4>
        </div>
        <div class="row">
          <div class="col-xs-6">姓名:&nbsp;&nbsp;{{order_detail.patient_name}}</div>
          <div class="col-xs-6">性别:&nbsp;&nbsp;{{order_detail.sex || '暂无'}}</div>
          <div class="row bottom_line">
            <div class="col-xs-6" style="margin-left:12px;margin-top:15px;margin-bottom:15px;">年龄:&nbsp;&nbsp;{{order_detail.age}}</div>
            <div class="col-xs-5" style="margin-left:-12px;margin-top:15px;">电话:&nbsp;&nbsp;{{order_detail.patient_phone}}</div>        
          </div>
        </div>
        <div class="row">
          <h4 style="margin-left:15px;font-weight: bold;font-size:18px;">检查信息</h4>
        </div>
        <div class="row">
          <div class="col-xs-6">检查项目:&nbsp;&nbsp;{{order_detail.project_name}}</div>
          <div class="col-xs-6" style="margin-bottom:15px;">检查部位:&nbsp;&nbsp;{{order_detail.order_bodies}}</div>
          <div class="row bottom_line">
            <div class="col-xs-6" style="margin-left:12px;margin-bottom:15px;">检查医院:&nbsp;&nbsp;{{order_detail.hospital_name}}</div>
            <div class="col-xs-5" style="margin-left:-12px;">医生备注:&nbsp;&nbsp;{{order_detail.precaution}}</div>        
          </div>
        </div>
      </div>

      <div class="col-xs-5 col-xs-offset-1">
        <div class="row">
          <h4 style="margin-left:-18px;font-weight: bold;font-size:18px;">订单状态:&nbsp;&nbsp;{{order_detail.state_zh}}</h4>
          <ul style="margin-top:25px;">
            <li ng-repeat="ool in order_detail.operation_order_logs track by $index">
            <i ng-if="$index!=order_detail.operation_order_logs.length-1" style="position:relative;left:50px;top:40px;" class="glyphicon glyphicon-arrow-down"></i>
              <div class="row">
                <div class="col-xs-6"><span style="position:relative;top:-39px;">{{ool.created_at | date:'yyyy-MM-dd HH:mm'}}</span></div>
                <div class="col-xs-6"><span style="position:relative;top:-39px;">{{ool.content}}</span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <style type="text/css">
    .header_info span{
      margin-right: 5%;
      margin-left: 5%;
      font-weight: bold;
    }
    .header_info{
      margin-top: 3%;
    }
    .row {
      font-size: 15px;
      padding: 3px;
      margin-top: 20px;
    }
    .bottom_line{
      border-bottom: 0.5px solid rgb(229,229,229);
    }
    li{
      list-style: circle;
    }
  </style>
</script>

