<div class="table-operation" style="margin-left:-25px;">
	<h3 style="margin-left:13px;">日志管理</h3>
	<div>
		<div class="navbar-form ng-pristine ng-valid" role="search">
		<div class="form-group">
			<select name="operation_log_type_id" class="form-control" ng-model="operation_log_type">
				<option value="" selected="">日志类型</option>
				<option ng-repeat="type in self.operation_log_types" value="{{type.id}}">{{type.name}}</option>
			</select>
			<input type="text" ng-model="start_time" class="form-control datetimepicker_full" placeholder="操作开始时间">
			<input type="text" ng-model="end_time" class="form-control datetimepicker_full" placeholder="操作截至时间">
			<input type="text" ng-model="user_realname" class="form-control" placeholder="操作人">
			<input type="text" ng-model="keyword" class="form-control" placeholder="关键字">
		</div>
		<button type="submit" class="btn btn-defualt" ng-click="search()">搜索</button>
  		<a class="btn btn-default" ng-click="refresh()">清空</a>
		<a class="btn btn-default">导出</a>
		</div>
	</div>
</div>

<table class="table table-bordered table-hover">
  	<tr style="background-color:#f6f6f6;">
  	  <td>#</td>
  	  <td>日志类型</td>
  	  <td>时间</td>
  	  <td>操作人</td>
  	  <td>内容</td>
  	</tr>
  	<tr ng-repeat="log in self.operation_logs">
  		<td>{{log.id}}</td>
  		<td>{{log.operation_log_type}}</td>
  		<td>{{log.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  		<td>{{log.user_realname}}</td>
  		<td>{{log.content}}</td>
  	</tr>
  </tbody>
</table>
<div class='pagination'>
  <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
  <div style="float: right;position: relative;top: -20px;">
    跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
    <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">确定</button>
  </div>
</div>
