<div class="table-operation" style="margin-left:-25px;">
	<h3 style="margin-left:13px;">销售拜访记录</h3>
	<div style="height:30px;">
    <div class='pagination'>
      <uib-pagination style="margin-top: -20px;margin-left:15px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
      <div style="float: right;position: relative;top: -20px;">
        跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
        <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">确定</button>
      </div>
    </div>
    <button style="float: right;width: 5%;" ng-click="search()" class="btn btn-default">搜索</button>
    <input style="width: 13%;float: right;margin-left: 5px;margin-right: 5px;" type="text" ng-model="agent_name" class="form-control" id="hos_q" placeholder="销售姓名">
    <input style="width: 13%;float: right;margin-left: 5px;" type="text" ng-model="doctor_name" class="form-control" id="hos_q" placeholder="医生姓名">
    <select style="width: 6%;float: right;" ng-change="search()" ng-model="city_id" class="form-control">
			<option value="">所在城市</option>
		  <option ng-repeat="city in opened_cities" value={{city.id}}>{{city.name}}</option>
    </select>
	</div>
</div>

<table class="table table-bordered table-hover" style="margin-top:11px;">
  	<tr style="background-color:#f6f6f6;">
			<td>记录时间</td>
			<td>拜访销售</td>
  	  <td>拜访医生</td>
  	  <td>所在城市</td>
  	  <td>所属销售组</td>
  	  <td>拜访类型</td>
  	  <td>拜访方式</td>
  	  <td>拜访记录</td>
  	</tr>
  	<tr ng-repeat="vr in visit_records">
			<td>{{vr.created_at | date:'yyyy-MM-dd'}}</td>
  		<td>{{vr.agent_name}}</td>
  		<td>{{vr.doctor_name}}</td>
  		<td>{{vr.city_name}}</td>
  		<td>{{vr.agent_group}}</td>
  		<td>{{vr.visit_type_zh}}</td>
  		<td>{{vr.visit_means_zh}}</td>
  		<td>{{vr.visit_content}}</td>
  	</tr>
		<tr ng-show="visit_records.length==0">
			<td colspan=8>(暂无相关数据)</td>
  	</tr>
  </tbody>
</table>
<div class='pagination'>
  <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
  <div style="float: right;position: relative;top: -20px;">
    跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
    <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">确定</button>
  </div>
</div>
