<!doctype html>
<html lang="zh-CN" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>运营</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="shortcut icon" type="image/x-icon" media="screen" href="images/tongxin_sm.png">
    <script src="scripts/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/lib/bootstrap.min.js"></script>
</head>
<body>
<% if (locals.user){ %>
    <input type="number" value="1" id="userIsLogin" hidden>
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0" ng-controller="navController">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="width:140px">
              <img src="images/tongxin.png" alt="tongxin"/>
              <span style="float:left;margin-top:-24px;margin-left:33px;display:block;">运营系统</span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left hidden-xs">
            <li ng-class="{ active: isActive('/visit_records')}"><a href="/#/visit_records">销售拜访记录</a></li>
            <li ng-class="{ active: isActive('/feedbacks')}"><a href="/#/feedbacks">意见反馈</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 15px">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= user.realname %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="btn" ng-click="open_update_password_modal()">修改密码</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="logout()" class="btn">退出</a></li>
                </ul>
            </li>
        </ul>
    </nav>
<% } %>
<div class="container-fluid">
  <div clss="container">
  <%- body %>
  </div>
</div>
</body>
</html>
